body {
	background-color: #9266ff;
	padding: 50px;
	color: white;
	font-size: 17px;
}

h2 {
	color: rgb(202,156,24);
}

.cont {
	background-color: #3f3160;
	width: 300px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 20px 100px 40px 100px;
	border-radius: 10px;
	text-align: center;
}

.cont input {
	box-sizing: border-box;
  	margin: 10px;
  	font-size: 20px;
  	background: transparent;
  	color: #f8fbff;
 	 border: none;
  	border-bottom: 1px solid #ccc;
  	outline: none;
  	padding: 15px 3px 10px;
  	font-family: inherit;
	width: 250px;
}

.cont ul {
	list-style: none;
	text-align: left;
	margin-left: 25px;
}

.flex {
	display: flex;
	justify-content: center;
}

span {
	display: flex;
	justify-content: center;
	font-size: 25px;
	margin-top: 25px;
	font-weight: 600;
}

h1 {
	text-align: center;
	font-size: 28px;
	margin-top: 10px;
	margin-bottom: 60px;
}

.pending {
	color: yellow;
	font-size: 21px;
	font-weight: 600;
	margin-top: 15px;
}